span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    animation: animate 6s linear infinite;
}

span::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, white, transparent);
    transform: translateY(-50px);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(50vh);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        transform: rotate(315deg) translateX(-50vh);
        opacity: 0;
    }
    100% {
        transform: rotate(315deg) translateX(-50vh);
        opacity: 0;
    }
}

span:nth-child(2) {
    top: 70%;
    left: 60%;
    animation-delay: 3.5s;
    opacity: 0;
}