<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plutonication</title>
</head>
<body>
    <h1>Welcome to Plutonication</h1>

    <p><b>Here is everything you might need:</b></p>

    <p><a href="/docs/javascript">Typescript dApp implementation guide</a></p>
    <p><a href="/docs/react-example">React example dApp implementation guide</a></p>
    <p><a href="/docs/csharp">C# dApp implementation guide</a></p>
    <p><a href="/docs/flask-server">Python (flask) server documentation</a></p>
    <p><a href="/deploy/flask-digital-ocean">Python (flask) server Digital Ocean deployment guide</a></p>
</body>
</html>